[Desktop Entry]
Version=1.0.4
Type=Application
Name=freetimemaker-plc
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/freetimemaker-plc.desktop /snap/bin/freetimemaker-plc
Icon=/snap/freetimemaker-plc/current/meta/gui/icon.png
Terminal=false
Categories=Games;